* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "DM Sans",sans-serif;
}

.background{
	min-height:45rem;
	background-color: gray;
	background-image: url('C:Users/japo/Documents/Vertere Training/S13-S14/MyPortfolio/Images/bg.jpg') ;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: scroll;
}
.textcolor{
	color: #FCA311;
	vertical-align: middle;
}
#map{
	height: 100%;
	width: 100%;
}